.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px;
    box-shadow: 10px 20px 15px silver;
    border-radius: 8%;
    height: 300px;
    justify-content: space-between;
    width: 200px;
}

.character-card img {
    border-radius: 8%;
    width: 200px;
}

button {
    border-radius: 8px;
    background-color: rgb(102, 92, 171);
    color: white;
    width: 110px;
    height: 30px;
    border: none;
    margin-bottom: 20px;
}